.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.header {
  background: -webkit-linear-gradient(blue, orange);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inputRow {
  display: flex;
  gap: 8px;
}
